[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = main
[submodule "lib/prb"]
	path = lib/prb
	url = https://github.com/PaulRBerg/prb-math
	branch = main
