name: test

on:
  push:
    branches:
      - "main"

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Check format and lint
        id: check
        run: |
          ./cli.sh check

      - name: Build the contracts
        id: build
        run: |
          ./cli.sh build

      - name: Test the contracts
        id: test
        env:
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          BLOCK_NUMBER_MAINNET: 24328640
        run: |
          ./cli.sh test --threads 1
